---
# The main Sass file needs front matter.
# This files override minima main scss file.
---

@import "minima";

.text-align-right {
    text-align: right !important;
}

.myhome {
    h2 {
        font-size: 24pt;
    }
    h3, .h3 {
        font-size: 16pt;
        
    }
    img#profile-img {
        border-radius: 50%;
    }
    p {
        text-align: justify;
    }
}

