---
layout: default
---

<div class="myhome">
  {{ content }}
  <section>
    <img id="profile-img" src="/assets/image/njiva_harizo.jpeg" width="300" height="300">
    <p class="text-align-right">
      Hey, I am <u>Njiva</u> Harizo Rafanomezantsoa
    </p>
  </section>
  <section>
    <h2>I am ...</h2>
    <p>
        I am an IT enthusiast with a wide range of experiences on software development and many topics around.
    </p>
    <p>
      I had opportunity to work on different style of employment and on different type of business through the projects I worked on.<br>
      I made lot of freelancing but also worked some years in enterprise as well. This helped me to discover and grow from different working environments, mix of collaborations and people, and responsabilities.<br>
      I think I could embrace all of these because of consistent hunger of new knwoledge, fast learning and adaptivity to field, technologies and tools I have on hands.
    </p>
    <p>
      I am particularly interested on building a software as a meaningful product, tailored to solve both business and users needs, to produce impact and reach targets.<br>
      I love collaborating with people, taking opportunities to learn, share and grow along from each other. <br>
    </p>
  </section>

  <section>
    <h2>My journey</h2>
    <div>
      <div class="h3">2014: Starting professional experience and research project.</div>
      <p>
        Back after obtaining my bachelor degree, I joined a research lab as Java developer where I wrote a desktop application that shows image from IP cameras and record video when motion are detected.
        I made that with Java, my first serious programming langugage for making general purpose project.
      </p>
    </div>
    <div>
      <div class="h3">2015: Joining a small web agency</div>
      <p>
        In parallel of finishing my master degree, I joined a small web agency of a friend who is an alumni of my university. From there I participated on web projects and mobile projects development, UI integration
        I mainly used Php for web (CodeIgniter), Javascript (Cordova/AngularJS) or pure Java for mobile application (Android).
      </p>
    </div>
    <div>
      <div class="h3">2016 - 2017: Started freelancing and consultance own my own</div>
      <p>
        I got my master degree in december 2015. Then I decided to go freelancing on my own, working with my first clients to help them building websites and mobile application for their business.
        The main technologies I used are Php (CodeIgniter, Symfony), Javascript(Angular, NodeJs).
      </p>
    </div>
    <div>
      <div class="h3">2018: Starting working at company</div>
      <p>
        On that year, I got a work contract that required me to move in an european country but at the last minute I wasn't able to. And so I decided to switch on working on a local company.<br>
        On my surprise, how things works there was different from my earlier habit because process are more structured, and decisions taking are shared by more people. At the end it helped me to be a better team-player, and see some leadership model.
        I used mainly Javascript in that place (NodeJs, Angular).
      </p>
    </div>
    <div>
      <div class="h3">2019 - 2022: In search for senior level and taking more responsability</div>
      <p>
        I switched to another company, a social startup in healthtech sector. I was lucky to get mentored by some strong people both technically and professionally and so I felt growing 10x. <br>
        I could lean, participate, and grow in another technical area: AWS cloud infrastructure management and configuration using IaC (Terraform), containerization at deep level (docker), pipeline setup and improvement (circle ci, fastlane), bridging Javascript with native Kotlin Android application, and lot more<br>
        I could also develop soft skills: mentoring, leadership, communication, ... . All of these enabled me to work efficiently with both technical and non technical persons (...)
        That was enabling me through time to reach senior level and take more and more responsability by gradual promotion, and so make impact in the company.
        The main languages use there was Ruby (Ruby on Rails, Sinatra) , Javascript (Vue). I got also few experience with Kotlin and Java
      </p>
    </div>
    <div>
      <div class="h3">Since 2023: Working on full remote company</div>
      <p>
        Time was coming for me to try another thing, so I landed in a full remote web agency company to tackle new challenges.<br>
        As Senior Web Engineer, I worked on several projects that are based on the three main languages I have the more experience with: Ruby (Rails), Php (Laravel), and Javascript (NestJS, Angular, React)
      </p>
    </div>
    <div>
      <div class="h3">Activities aside</div>
      <p>
        Sometime I still do small freelancing projects, or make ponctual consultancy for local companies. I also make some personal projects:
          <ul>
            <li>USSD simulator</li>
            <li>MP (a mobile app for Scout instructor) helping tracking</li>
            <li>FB Scrapper: Facebook public post scrapper to catch filtered posts from provided urls</li>
          </ul>
      </p>
    </div>
  </section>
  
  <section>
    <h2>My techno stack at a glance (2024)</h2>

    <table>
      <thead>
        <th>Language</th>
        <th>framework / library</th>
        <th>years of practice</th>
      </thead>
      <tbody>
        <!-- JS -->
        <tr>
          <td rowspan="6">Javascript <br> (in total: 9 yrs)</td>
          <td>Node</td>
          <td>4 yrs</td>
        </tr>
        <tr>
          <td>Nest JS</td>
          <td>0.5 yrs</td>
        </tr>
        <tr>
          <td>Angular</td>
          <td>5 yrs</td>
        </tr>
        <tr>
          <td>Vue 2</td>
          <td>3 yrs</td>
        </tr>
        <tr>
          <td>React</td>
          <td>2 yrs</td>
        </tr>
        <tr>
          <td>[Mobile] Cordova, NativeScript, Ionic, ReactNative</td>
          <td>4 yrs</td>
        </tr>
        <!-- / JS -->
        <!-- PHP -->
        <tr>
          <td rowspan="3">PHP <br> (in total: 7 yrs)</td>
          <td>Laravel</td>
          <td>2 yrs</td>
        </tr>
        <tr>
          <td>Symfony</td>
          <td>4 yrs</td>
        </tr>
        <tr>
          <td>Wordpress</td>
          <td>3 yrs</td>
        </tr>
        <!-- / PHP -->
        <!-- RUBY -->
         <tr>
          <td rowspan="2">Ruby <br> (in total: 4 yrs)</td>
          <td>Rails</td>
          <td>3 yrs</td>
        </tr>
        <tr>
          <td>Sinatra</td>
          <td>1.5 yrs</td>
        </tr>
        <!-- / RUBY -->
        <!-- JAVA -->
        <tr>
          <td rowspan="2">Java</td>
          <td>(Android)</td>
          <td>2 yrs</td>
        </tr>
        <tr>
          <td>JRuby</td>
          <td>0.5 yrs</td>
        </tr>
        <!-- / JAVA -->
        <!-- PYTHON -->
        <tr>
          <td rowspan="2">Python</td>
          <td>(Scripting , scrapping)</td>
          <td>2 yrs</td>
        </tr>
         <!-- / PYTHON -->
      </tbody>
    </table>

    <div>
      <table style="width: 50%;">
        <thead>
          <th>Database</th>
          <th>years of practice</th>
        </thead>
        <tbody>
          <tr>
            <td>Mysql</td>
            <td>6 yrs</td>
          </tr>
          <tr>
            <td>Postgres</td>
            <td>3 yrs</td>
          </tr>
          <tr>
            <td>Mongo</td>
            <td> 3 yrs</td>
          </tr>
          <tr>
            <td>MysqlLite</td>
            <td>2 yrs</td>
          </tr>
          <tr>
            <td>Redis</td>
            <td>3 yrs</td>
          </tr>
        </tbody>
      </table>
  
      <table style="width: 50%;">
        <thead>
          <th>Other</th>
          <th>years of practice</th>
        </thead>
        <tbody>
          <tr>
            <td>Docker</td>
            <td>5 yrs</td>
          </tr>
          <tr>
            <td>AWS</td>
            <td>4 yrs</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="h3">Other experience:</div>
    <ul>
      <li>Key Account Management representative to client</li>
      <li>Representation to  technical partner</li>
      <li>Tech recruitment and interview</li>
      <li>Tecnical Operation Management</li>
    </ul>

  </section>

  <!-- <section>
    <h2>Showcase</h2>
  </section> -->

  <section>
    <h2>My current topics</h2>
    <ul>
      <li>Complete side projects</li>
      <li>Contribute to opensource</li>
      <li>Improve Devops related knowledge and experience</li>
      <li>Learn Software architectures used by big companies</li>
    </ul>
  </section>

  <section>
    <h2>Contact me!</h2>
    <p>Reach me through different channels on footer of this website!</p>
  </section>

</div>