---
layout: default
---

<div class="myhome">
  {{ content }}
  <section>
    <img id="profile-img" src="/assets/image/njiva_harizo.jpeg" width="300" height="300">
    <p class="text-align-right">
      Hey, I am Njiva Harizo Rafanomezantsoa
    </p>
  </section>
  <section>
    <h2>I am ...</h2>
    <p>
        I am an IT enthusiast with a wide range of experiences on software development and everything around.
    </p>
    <p>
      I had opportunity to work on different style of employment and on different type of business through the projects I worked on.<br>
      I made lot of freelancing but also worked some years in enterprise as well. This helped me to discover and grow from different working environments, mix of collaborations and people, and responsabilities.<br>
      I think I could embrace all of these because of consistent hunger of new knwoledge, fast learning and adaptivity to field, technologies and tools I have on hands.
    </p>
    <p>
      I am particularly interested on building a software as a meaningful product, tailored to solve both business and users needs, to produce impact and reach targets.<br>
      I love collaborating with people, taking opportunities to learn, share and grow along from each other. <br>
      I am particularly interested on building a software as a meaningful product, tailored to solve both business and users needs, to produce impact and reach targets.
    </p>
  </section>

  <section>
    <h2>My journey</h2>
    <div>
      <p>
        <span class="h3">2014: Starting professional experience and research project.</span><br>
        Back after obtaining my bachelor degree, I joined a research lab as Java developer
      </p>
    </div>
    <div>
      <p>
        <span class="h3">2015: Joining a small web agency</span>
      </p>
    </div>
    <div>
      <p>
        <span class="h3">2016 - 2017: Started freelancing and consultance own my own</span>
      </p>
    </div>
    <div>
      <p>
        <span class="h3">2018: Starting working at company</span>
      </p>
    </div>
    <div>
      <p>
        <span class="h3">2019 - 2022: In search for senior level and taking more responsability</span>
      </p>
    </div>
    <div>
      <p>
        <span class="h3">Since 2023: Working on full remote company</span>
      </p>
    </div>
    <div>
      <p>
        <span class="h3">2024: Starting own company on side</span>
      </p>
    </div>
    <div>
      <h3>How I currently want to pursue ...</h3>
    </div>
  </section>
  
  <section>
    <h2>My technology stack at a glance</h2>
  </section>

  <section>
    <h2>Few showcases</h2>
  </section>

  <section>
    <h2>My interests</h2>
  </section>

  <section>
    <h2>My current topics</h2>
  </section>

  <section>
    <h2>Contact me!</h2>
  </section>

</div>